# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
src/main/java/by/nc/school/dev/web/validator/
src/test/
target/AN-Module-1.0-SNAPSHOT/WEB-INF/
target/AN-Module-1.0-SNAPSHOT/pages/
target/AN-Module-1.0-SNAPSHOT/src/
target/generated-sources/
web/
